<h1>Jobs Dashboard</h1>

<section class='dashboard'>
  <h3>Level of interest: # of jobs</h3>
  <% @number_of_jobs_by_level_of_interest.each do |interest_level, num_of_companies| %>
    <p><%= "#{interest_level}: #{num_of_companies}" %></p>
  <% end %>
</section>

<section class='dashboard'>
  <h3>Top Companies by Job Interest Level</h3>
  <% @top_companies_by_avg_level_of_interest.each do |company| %>
    <p class='display'><%= company.name %>: <%= company.average_interest_level %></p>
  <% end %>
</section>

<section class='dashboard'>
  <h3>City: # of jobs</h3>
  <% @number_of_jobs_by_city.each do |city, num_of_companies| %>
    <p><%= "#{city}: #{num_of_companies}" %></p>
  <% end %>
</section>
