<table>
  <tr>
    <th>City</th>
    <th>Job</th>
  </tr>

  <% @jobs.each do |job| %>
  <tr>
    <td><%= job.city %></td>
    <td><%= link_to job.title, job_path(job) %></td>
    <td><%= job.level_of_interest %></td>
  </tr>
  <% end %>
</table>
