<h3>All Categories</h3>

<ul class='category'>
<% @categories.each do |category| %>
    <li><h4><%= link_to category.title, category_path(category) %></h4></li>
    <%= link_to "Delete", category_path(category), method: "delete" %><br>
    <%= link_to "Edit", edit_category_path(category) %>
<% end %>
</ul>
