<h3>All Categories</h3>

<ul class='category'>
<% @categories.each do |category| %>
    <li><%= category.title %></li>
    <%= link_to "Delete", category_path(category), method: "delete" %>
<% end %>
</ul>
